
#h1{
    text-align: center;
}
#main{
    display: flex;
    width: 95%;
    margin: auto;
    border: 1px solid red;
}
#first{
    width: 20%;
    border: 1px solid black;
    padding-top: 200px;
}
#second{
    width: 80%;
}
#well{
    text-align: center;
}
form{
    text-align: center;
    font-size: ;
}
