h1{
    text-align: center;
  }
  #loginBtn {
    background-color: green;
    color: white;
    padding: 0.5em 1em;
    border-radius: 8px;
    margin-left: 35%;
    border: 0px;
    width: 100px;
    height: 35px;
  } 
  #loginBtn:hover{
    background-color: #0077C9;
    color:wheat;
  }
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  form {
    margin: 0 auto;
    width: 350px;
    height: 300px;
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #FFF;
    /* background-color: #c90000; */
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  }

  label {
    margin: 10px;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
  }

  input[type="text"], input[type="password"] {
    margin: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #0077C9;
    color: #FFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30%;
  }
  #form:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
