@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}

.header{
	
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items:center;
	display: flex;
    position: fixed;
    top: 0;
    left: 50%;
	background-color: white;
    transform: translateX(-50%);
    padding: 1rem 1rem;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 100%;
	padding: 0 5%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.6s;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	padding:15px;
}
.header .item-left{
	flex:0 0 17%;
}
.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
#search-input{
	margin-left: 20px;
	padding:5px;
	margin-top:10px;
	border: 1px solid black;
	margin-right: 5px;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
    color: red;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
.menu-item-has-children>li:nth-child(3){
    width:50%;
}

/* section css  start here*/

.wrapper{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  
}
.wrapper>div:nth-child(1){
    padding-top:14%;
}
    .wrapper>div>h1{
        color:red;
        font-size: 35px;
    }
    .both-btn-section{
        display: flex;
        gap:10px;
    }
    .treat-btn{
        width: 200px;
        padding: 20px;
        font-size: 20px;
        border-radius: 15px;
        border: none;
        background-color: #d80331;;
        color: white;
    }
    .order-btn{
        width: 200px;
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #d80331;
    }

.logo>img{
    width:100px;
    height:70px;
}

.anchor-meal{
    color: #000000;
    font-size: 20px;
}

/* banner-section start here */
.banner-section{
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    width: 90%;
    margin: auto;
    display: block;
  }

  /* customer-favourite  limited time start here */
  .customer-favourite-limitedTime{
    width:100%;
	display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .Customer-favourite{
    display:grid;
	border-radius: 0 20px 20px 0;
    grid-template-columns: repeat(2,1fr);
    background-color: #f4f8f9;
  }
  .Customer-favourite>div:nth-child(1){
	padding: 40px;
	
  }

  .customer-fvt-btn{
    width: 150px;
    padding:13px;
    font-size: 20px;
    margin-top:30px;
    background-color:#e30f3e;
    border-radius: 20px;
    border:none;
    color: #ffffff;
  }
  .limited-time-btn{
    width: 150px;
    padding:15px;
    font-size: 20px;
    margin-top:30px;
    background-color:#e30f3e;
    border-radius:20px;
    border:none;
    color: #ffffff;
  }
.limited-time{
    display:grid;
	grid-template-columns:repeat(2,1fr);
    border-radius: 20px;
    background-color: #f4f8f9;
}
.limited-time>div:nth-child(1){
    padding-top: 15px;
    padding-left: 35px;
  }
  .img-section{
	width: 100%;
    border-radius: 0px 15px 15px 0px;
  }

  .Customer-favourite-h4{
    color: #d80331;
  }
  .Customer-favourite-h2{
    font-size:30px;
    color: #055273;
  }
   /* customer-favourite limited time end here */

/* hungry-more start here */
.hungry-more{
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #135c7b;
    background-color: #f4f8f9;
}
.hungry-more>div:nth-child(1){
    position: relative;
    margin-left: 15%;
    margin-top: 7%;
    
}
.hungry-more>div:nth-child(1)>h1{
    font-size: 40px;
}
.hungry-btn{
    width: 200px;
    padding:15px;
    font-size: 20px;
    margin-top:30px;
    color:#e30f3e;
    border-radius:20px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #ffffff;
}
.hungry-more>div:nth-child(2)>img{
	width: 100%;
    border-radius:0 10px 10px 0;
}
/* hungry-more end here */

/* catering start here */
.catering{
	background-image:url("https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/Home%20Page%20Refresh/Home%20Page%20Refresh%20V2/Catering_Desktop_compressed.jpg");
	margin-top: 20px;
    width: 100%;
	border-radius: 16px;
	padding-bottom: 47.5px;
    padding:47px;
	background-size: cover;
	
	}
.catering1{
width:40%;
  border-radius: 20px;
  padding:30px;
  align-items: center;
  background: #FAFAFA;
  text-align: center;
  
}
.catering-1>h2{
	color:#004f71;
}
.catering-btn{
	width: 230px;
    padding:13px;
    font-size: 20px;
    margin-top:30px;
    background-color:#e30f3e;
    border-radius:20px;
    border:none;
    color: #ffffff;
}
/* catering end here */
/* reward start here */
.reward{
	width:100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-top: 20px;
	border-radius:20px;

}
.reward>div:nth-child(1){
	width: 100%;
	padding:60px 40px 0px 40px;
}
.reward>div:nth-child(1)>a{
	font-size: 25px;
	color:#d80331
}
.reward>div:nth-child(1)>h1{
	color:#004f71;
	font-size: 40px;
}
.reward-btn1{
	width: 300px;
    padding:13px;
    font-size:15px;
    margin-top:30px;
	color:#e30f3e;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius:20px;
    border:none;
	background-color: #ffffff;
}
.reward-btn2{
	width: 200px;
    padding:13px;
    font-size:15px;
    margin-top:30px;
    color:white;
    border-radius:20px;
    border:none;
    background-color: #e30f3e;
}
.reward>div:nth-child(2)>img{
	border-radius: 0px 20px 20px 0;
}
/* reward end here */
/* gift-card start here */
.e-gift-card{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 20px;
	margin-top: 20px;
}
.e-gift-card>div:nth-child(2){
	padding:40px;
}
.e-gift-card>div:nth-child(2)>a{
	font-size: 20px;
	color:#d80331
}
.e-gift-card>div:nth-child(2)>h1{
	color:#004f71;
	font-size: 35px;
}
.e-gift-btn1{
	width: 200px;
    padding:13px;
    font-size:15px;
    margin-top:30px;
	color:white;
    border-radius:20px;
    border:none;
	background-color:#e30f3e;
}
.e-gift-btn2{
	width: 200px;
    padding:13px;
    font-size:15px;
    margin-top:30px;
	color:#e30f3e;
    border-radius:20px;
    border:none;
    background-color:#ffffff;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/* celebrate-card start here */
.celebrate{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin: 20px;
	border-radius:20px;
}
.celebrate>div:nth-child(1){
	padding:60px 40px 0px 40px;
}
.celebrate-btn{
	width: 300px;
    padding:13px;
    font-size:15px;
    margin-top:30px;
	color:#ffff;
    border-radius:20px;
    border:none;
    background-color:#e30f3e;;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility:visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 2000px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  padding:0 20px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#ea4636;
}
.vl {
    border-left: 2px solid grey;
    height: 100x;
  }
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: auto;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
        
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}
/* media query */
@media screen and (max-width:1140px) {
	.v-center{
		align-items: center;
		display: flex;
		position: fixed;
		top: 0;
		left: 50%;
		background-color: white;
		transform: translateX(-50%);
		
		justify-content: space-around;
		align-items: center;
		z-index: 100;
		width: 100%;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		transition: 0.6s;
	}
	.food-img{
		width: 100%;
		border-radius: 0px 15px 15px 0px;
	  }
	.wrapper{
		width: 100%;
		padding-top:30px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	  
	}
	.both-btn-section{
		margin-left: 30px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1,1fr);
	}
	.customer-favourite-limitedTime{
		width: 100%;
		gap: 15px;
		margin: auto;
		display:grid;
		grid-template-columns: repeat(1,1fr);
		justify-content:space-between;
	  }
	  .Customer-favourite{
		display:grid;
		grid-template-columns: repeat(1,1fr);
		border-radius:20px;
		background-color: #f4f8f9;
	  }
	  .limited-time{
		display:grid;
		grid-template-columns:repeat(1,1fr);
		border-radius: 20px;
		background-color: #f4f8f9;
	}
	.limited-time>div:nth-child(2){
		margin-top: 20px;
	}
	
	
	.hungry-more{
		width:100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border-radius: 10px;
		color: #135c7b;
		background-color: #f4f8f9;
	}
	.hungry-more>div:nth-child(2){
		margin-top: 20px;
	}
	.catering{
		background-image:url("https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/Home%20Page%20Refresh/Home%20Page%20Refresh%20V2/Catering_Desktop_compressed.jpg");
		margin-top: 20px;
		width: 100%;
		border-radius: 16px;
		padding-bottom: 47.5px;
		padding:47px;
		background-size: cover;
		
		}
	.catering1{
	width:100%;
	margin: auto;
	  border-radius: 20px;
	  padding:30px;
	  align-items: center;
	  background: #FAFAFA;
	  text-align: center;
	  
	}
	.catering1>button{
		width:100%;
	}
	.reward{
		width:100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border-radius: 10px;
		color: #135c7b;
		background-color: #f4f8f9;
	}
	.reward>div:nth-child(1){
		width:100%;
		
	}
	.reward>div:nth-child(1)>h1{
		font-size: 20px;
	}
	.reward>div:nth-child(1)>p{
		font-size: 20px;
		padding-right: 20px;
	}
	.reward>div:nth-child(2)>img{
		width:100%;
		margin-top: 10px;
	}
	.reward>div:nth-child(1)>button{
		width:100%;
	}
	.reward>div:nth-child(2)>button{
		width:100%;
	}
	.e-gift-card{
		width:100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border-radius: 10px;
		color: #135c7b;
		background-color: #f4f8f9;
	}
	.e-gift-card>div:nth-child(1)>img{
		width:100%;
		

	}
	.celebrate{
		width:100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border-radius: 10px;
		color: #135c7b;
		background-color: #f4f8f9;
	}
	.celebrate>div:nth-child(2)>i{
		width: 100%;
	}
	.celebrate>div>button{
		width:100%;
		margin-bottom:20px;
	}
}

